li {
    color: crimson;
    }
    
    .list-item1 {
    color: rgb(20, 57, 220);
    }
    
    div {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
/*     #grandparent {
    width: 140px;
    height: 140px;
    background-color: red;
    }
    
    #parent1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    }
    
    #child {
    width: 60px;
    height: 60px;
    background-color: green;
    }
 */
